@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1620990943104-e9e26b7d2442?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center center;

}

header h1 {
    font-size: 3rem;
    color: #ffffff;
    text-shadow: 0px -4px 10px rgba(255,255,255,0.3);
    background-color: #000000e7;
    padding: 1rem;
    box-shadow: rgba(108, 108, 121, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

header a {
    background: #000;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
header div {
    text-align: center;
}


.scrollContainer {
    min-height: 100vw;
    min-height: 60vh;
    overflow: hidden;
}

/* .scrollText {
    margin: 105vh auto;
    max-width: 50rem;
    padding: 1rem;
    background-color: #fff;
    color: #000;
} */
#introduction {
    background-color: #000;
    /* background-image: url("https://images.unsplash.com/photo-1571756407234-46f229d6b801?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#image1 {
    background-image: url("https://images.unsplash.com/photo-1448964899744-8929e9d992d7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#image4 {
    background-image: url("https://images.unsplash.com/photo-1698641792886-4a808b2474ee?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#image2 {
    background-image: url("ressurser/maghazi-camp-2016.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#image3 {
    background-image: url("https://images.pexels.com/photos/5495928/pexels-photo-5495928.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.textSection {
    max-width: 50rem;
    margin: 0 auto;
    display: block;
    clear: both;
}

.alignRight {
    float: right;
    margin: 0 0 1rem 1rem;
}

.content {
    max-width: 800px;
    margin: 5vh auto 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.content h1 {
    font-size: 20px;
}

.iframe-container {
    width: 190%;
}

.iframe-container iframe {
    width: 100%; 
    height: 700px;
    border: none;
    margin-top: 20px;
}


.scrollText2 {
    margin: 10vh auto;
    max-width: 50rem;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.8);
    color: #000;
}
.textImage {
    width: 100%;
    height: 200px;
}

.scrollText {
    margin: 105vh auto;
    max-width: 50rem;
    padding: 1rem;
    background-color: #fff;
    color: #000;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.5s ease, transform 2s ease;
}

.scrollText.visible {
    opacity: 1;
    transform: translateY(0);
}
